
@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService;
@inject NavigationManager NavigationManager

<MudThemeProvider IsDarkMode="@_isDarkMode" Theme="_theme"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<AuthorizeView>
    <Authorized>
        <NotificationProvider/>
        <!-- Layout para usuário logado -->
        <MudLayout>
            <MudAppBar Elevation="1" Dense="true" Color="Color.Primary">
                <MudIconButton Edge="Edge.Start" OnClick="@(e => DrawerToggle())">
                    <MudIcon Icon="@Icons.Material.Filled.Menu" Color="Color.Secondary"/>
                </MudIconButton>
                <MudText Typo="Typo.h6" Class="ml-3">Proauto Kimium</MudText>
                <MudSpacer/>
                
                <MudPaper Class="pa-0 d-flex align-center" Style="height: 40px;">
                    <MudAutocomplete T="string" 
                                     Placeholder="Buscar"
                                     Dense="true"
                                     Margin="Margin.Dense"
                                     Style="font-size:0.875rem;"
                                     ValueChanged="OnValueChanged"
                                     SearchFunc="FilterRoutesAsync"
                                     ResetValueOnEmptyText="true"
                                     CoerceText="true"
                                     SelectValueOnTab="true"
                                     AdornmentIcon="@Icons.Material.Filled.Search"
                                     Adornment="Adornment.Start"
                                     Variant="Variant.Outlined"
                                     Clearable="true"/>
                </MudPaper>


                <MudToggleIconButton @bind-Toggled="_isDarkMode"
                                     Icon="@Icons.Material.Filled.LightMode"
                                     Color="@Color.Inherit"
                                     ToggledIcon="@Icons.Material.Filled.ModeNight"
                                     ToggledColor="@Color.Primary"/>
                <MudMenu Size="Size.Medium">
                    <ActivatorContent>
                        <MudAvatar Variant="Variant.Filled"
                                   Color="Color.Secondary">@(string.IsNullOrWhiteSpace(userName) ? "U" : userName[0].ToString().ToUpper())</MudAvatar>
                    </ActivatorContent>
                    <ChildContent>
                        <MudPaper Elevation="0" class="pa-4">
                            <MudText Typo="Typo.body1">Usuário:</MudText>
                            <br>
                            <MudText Typo="Typo.overline" Align="Align.Center" Color="Color.Primary">@userName</MudText>
                        </MudPaper>
                        <MudMenuItem Label="Alterar Senha" OnClick="OpenDialogAsync"/>
                        <MudMenuItem Label="Configurações"/>
                        <MudPaper Elevation="0" class="pa-4">
                            <MudButton FullWidth="true" Color="Color.Error" StartIcon="@Icons.Material.Filled.Logout"
                                       Variant="Variant.Filled" Href="account/logout">Logout
                            </MudButton>
                        </MudPaper>
                    </ChildContent>
                </MudMenu>
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End"
                               Href="https://github.com/MurilloHMS" Target="_blank"/>
            </MudAppBar>

            <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Breakpoint="Breakpoint.Lg"
                       MiniWidth="50px" Elevation="1" Variant="DrawerVariant.Mini" OpenMiniOnHover="true">
                <NavMenu/>
            </MudDrawer>

            <MudMainContent Class="mt-16 pa-4">
                @Body
            </MudMainContent>
        </MudLayout>
    </Authorized>

    <NotAuthorized>
        <div class="full-height-layout">
            <MudMainContent Class="flex-grow-1 mt-10 pa-4">
                @Body
            </MudMainContent>
        </div>
    </NotAuthorized>
</AuthorizeView>

<MudScrollToTop>
    <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.KeyboardArrowUp"/>
</MudScrollToTop>

<div id="blazor-error-ui">
    Ocorreu um erro desconhecido.
    <a href="" class="reload">Recarregar página</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _isDarkMode;
    private bool _drawerOpen;

    private string userName;
    private Dictionary<string, string> allRoutes = new Dictionary<string, string>();

    private readonly MudTheme _theme = new() {
        PaletteLight = new PaletteLight {
            Primary = "#232e61",
            Secondary = "#57c1ab"
        }
    };

    private void DrawerToggle() {
        _drawerOpen = !_drawerOpen;
    }

    protected override async Task OnInitializedAsync() {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true) {
            userName = user.FindFirst(ClaimTypes.Name)?.Value
                       ?? user.FindFirst("unique_name")?.Value
                       ?? "Sem nome";
        }
        StateHasChanged();
        //Get Routes
        allRoutes = await RouteHelperService.GetRoutesAsync();
    }

    private async Task<IEnumerable<string>>? FilterRoutesAsync(string? value, CancellationToken cancellation)
    {
        if (string.IsNullOrEmpty(value))
            return allRoutes.Keys;

        return allRoutes.Keys.Where(r => r.Contains(value, StringComparison.OrdinalIgnoreCase));
    }

    private void OnValueChanged(string selectedScreenName) {
        if (!string.IsNullOrEmpty(selectedScreenName) && allRoutes.TryGetValue(selectedScreenName, out var route)) 
        {
            NavigationManager.NavigateTo(route);
        }
    }
    
    private async Task OpenDialogAsync() {
        var parameters = new DialogParameters<UpdatePasswordDialog> 
        {
            { x => x.Username, userName }
        };    
        var options = new DialogOptions { CloseOnEscapeKey = true, CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = await DialogService.ShowAsync<UpdatePasswordDialog>("Registrar Usuário", parameters, options);
        var result = await dialog.Result;
    }
}
